@media (max-width: 1100px) {
    .sidebar_sale_game {
        display: none;
    }
}

@media (max-width: 950px) {
    .header_list>li:hover .header_sub-list {
        display: none;
    }
}

@media (max-width: 700px) {
    .sidebar {
        padding: 5px;
        display: grid;
        grid-column: 1/1;
        justify-items: center;
    }
    .main {
        grid-template: 2fr/1fr;
    }
    .content {
        grid-column: 1/1;
        padding-left: 5px;
    }
    .header_list {
        grid-auto-flow: row;
    }
}

@media (max-width: 510px) {
    .header {
        grid-template: 1fr/1fr minmax(auto, 100px) minmax(auto, 1000px) minmax(auto, 50px) 1fr;
    }
    #modal_media {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        position: fixed;
    }
    #modal_media:target {
        display: grid;
        align-content: center;
        background: #ff7490;
        border: none;
        border-radius: 0;
    }

    .header_form_media {
        display: block;
    }
}

@media (max-width: 360px) {
    .wrapper {
        overflow-y: auto;
    }
}