.header {
    display: grid;
    grid-template: 1fr/1fr minmax(auto, 100px) minmax(auto, 1000px) minmax(auto, 300px) 1fr;
    padding: 15px;
    align-items: center;
    @include background(radial-gradient(circle, $a 0%, $b 62%), null);
    @media (max-width: 510px) {
        grid-template: 1fr / 1fr minmax(auto, 100px) minmax(auto, 1000px) minmax(auto, 50px) 1fr;
    }
    .header_logo {
        grid-column: 2/3;
        justify-self: center;
        @include size(100px, 100px);
        @include background (url(/src/img/logo.png) no-repeat center, cover);
    }
    .header_menu {
        grid-column: 3/4;
        font-family: fantasy;
        .header_list {
            display: grid;
            grid-auto-flow: column;
            justify-items: center;
            font-size: 19px;
            text-align: center;
            >li {
                margin-right: 10px;
            }
            >li:hover .header_sub-list {
                display: block;
                @media (max-width: 950px) {
                    display: none;
                }
            }
            li {
                position: relative;
            }
            @media (max-width: 700px) {
                grid-auto-flow: row;
            }
            .header_sub-list {
                display: none;
                @include position(absolute, 23px, 0);
                padding: 0;
                background: $c;
                font-family: sans-serif;
                a {
                    text-decoration: none;
                }
                li {
                    padding: 5px;
                    border-top: 0.5px solid $e;
                }
            }
        }
    }
    .header_form {
        grid-column: 4/5;
        padding: 10px;
        text-align: center;
        border: 2px solid;
        border-radius: 5%;
        background: #ff7490;
        @include font('Times New Roman', 15px, bold, $e);
        @media (max-width: 510px) {
            display: none;
        }
        form {
            &:invalid button[type="submit"] {
                background: #5ec8ec;
            }
            button[type="submit"] {
            @include font('Times New Roman', 15px, bold, $e);
                background: #dfb2c6;
            }
            .form_login, .form_password {
                margin-bottom: 10px;
            }
        }

    }
    .header_form_media {
        display: none;
        @include size(50px, 50px);
        @include background(url(/src/img/header_iconBag_modal.png) no-repeat, cover);
        @media (max-width: 510px) {
            display: block;
        }

    }
    .headerModal {
        display: none;
        @extend %modalPosition;
        align-items: center;
        justify-content: center;
        background: $b;
        .headerModalArea {
            @extend %modalPosition;
        }
        .header_formModal {
            position: relative;
            line-height: 30px;
        }
    }
}

.header_link:hover, .form_button:hover,
button:hover, .header_sub-list li:hover {
    cursor: pointer;
    background: $h;
}
