#modal {
    @extend %modalPosition;
    @include background(url('/src/assets/img/bgiModal.jpg')
        no-repeat center, cover);
    @media (max-width: 400px) {
		overflow-x: scroll;
    }
    .formRegistr {
        display: flex;
        justify-content: center;
        position: relative;
        @include size(500px, 500px);
        margin: 50px auto;
        line-height: 30px;
        border-radius: 50%;
        background: radial-gradient(circle, $a 0%, $b 70%);
        @media (max-width: 510px) {
            width: 385px;
        }

        form {
            text-align: center;
            margin-top: 25px;

            input {
                @extend %modalFormInput;
            }

            button {
                @include size(100px, 30px);
                @include font(Times, 17px, bold, $g);
                background: $b;
            }

            .buttons {
                margin-top: 20px;
            }

            .returnBtn {
                @include size(200px, 50px);
                margin-top: 10px;
            }

            &:invalid button[type="submit"] {
                background: $a;
            }
        }
    }
}
